.sidebar {
    width: 20% !important;
    height: 100vh !important;
    background-color: var(--main-color) !important
}

h3 {
    color: #6882A1 !important;
    font-family: Montserrat, sans-serif !important;
    font-size: 1rem !important;
    font-weight: 700 !important;
}
li {
    color: white !important;
    font-size: 1rem !important;
    font-weight: 500 !important ;
    text-decoration: none !important;
    text-transform: uppercase !important;
    background: transparent !important;
    border: none !important;
    cursor: pointer;
    transition: background 0.3s ease !important;
    padding: 10px 5px !important;
}

li:hover {
    background: rgba(255, 255, 255, 0.1) !important;
    transition: background 0.3s ease !important;
}

.a {
    color: white !important;
    font-size: 1rem !important;
    font-weight: 500 !important ;
    text-decoration: none !important;
    text-transform: uppercase !important;
}

li i {
    display: inline-block !important;
    width: 40px !important;
    color: white !important;
}

.active {
    background: rgba(255, 255, 255, 0.2) !important;
    transition: background 0.3s ease !important;
}

.draft {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    background: red;
    animation: glow 1.5s infinite ease-in-out;
}

@keyframes glow {

    0% {
        transform: scale(1);
        box-shadow:
            0 0 5px rgba(255, 0, 0, 0.3),
            0 0 10px rgba(255, 0, 0, 0.3),
            0 0 20px rgba(255, 0, 0, 0.3);
    }

    50% {
        transform: scale(1.15);
        box-shadow:
            0 0 10px rgba(255, 0, 0, 0.5),
            0 0 20px rgba(255, 0, 0, 0.5),
            0 0 40px rgba(255, 0, 0, 0.5);
    }

    100% {
        transform: scale(1);
        box-shadow:
            0 0 5px rgba(255, 0, 0, 0.3),
            0 0 10px rgba(255, 0, 0, 0.3),
            0 0 20px rgba(255, 0, 0, 0.3);
    }
}


